/* issues
semantic ui css is overriding body css

need navbar to be sticky 

yellow-green: #bfe92a
blue: #2d2890
grey text: #747c83*/

body.body {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: black;
  margin-bottom: 35px;
  /* color: #747c83; */
  color: rgba(255, 255, 255, 0.9);
}

#focus-logo-home {
  width: 75%;
}

#navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.link {
  float: center;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 25px;
  color: #747c83;
  transition: 0.1s;
  font-weight: bold;
}

.link-logged-in {
  float: right;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2em;
  color: #747c83;
  transition: 0.1s;
  font-weight: bold;
}

.link-logged-out {
  float: right;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2em;
  color: #747c83;
  transition: 0.1s;
  font-weight: bold;
}

.link:hover {
  color: white;
}

.link-logged-in:hover {
  color: white;
}

.link-logged-out:hover {
  color: white;
}

.service {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: #2d2890 !important;
  box-align: center;
  margin-top: 50px;
  padding: 20px;
  color: white;
  font-size: large;
}

.error {
  color: white;
}

#my-account {
  background-color: #bfe92a;
  padding: 10px;
  color: black;
}

/* forms */

/* Form.Input {
  color: white;
} */
Form.form#contact {
  background-color: #bfe92a;
  padding: 10px;
  color: black;
}

div.div#login {
  background-color: #bfe92a;
  padding: 10px;
  color: black;
}

Button#contact {
  color: black;
  background-color: white;
}

Button.button#login {
  background-color: white;
  color: black;
}

Button.button#redirect-signup {
  background-color: white;
  color: black;
}

div.div#signup {
  background-color: #bfe92a;
  padding: 10px;
  color: black;
}

Button#signup {
  background-color: white;
  color: black;
}

div.div#edit-account {
  background-color: #bfe92a;
  padding: 10px;
  color: black;
}

Button.button#save-changes-btn {
  background-color: white;
  color: black;
}

Button.button#delete-acct-btn {
  background-color: white;
  color: black;
}

/* Stripe CSS */

.card {
  background-color: white;
  padding: 10px 20px 11px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #afafaf;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}
.pay-button {
  padding: 0.7rem 2rem;
  width: 100%;
  margin: 1rem 0;
  color: white;
  font-weight: bold;
  font-size: medium;
  background-color: #556cd6;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  transition: box-shadow 500ms;
  cursor: pointer;
}
.pay-button:disabled {
  background-color: #afafaf;
  box-shadow: none;
  cursor: default;
}
.pay-button:disabled:hover {
  box-shadow: none;
}
.pay-button:hover {
  box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.2);
}

/* my css ends here */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
